*.swp
junit.xml
*.pyc
*.pdf
docs/source/code/*
dist
build/
*.egg-info*
.coverage
.idea/
.pytest_cache/
.nox
cov_*.xml
.coverage*
assets/
junit_*.xml
clover.xml
cov_html/
logs/
venv
.venv
tmp/
.vscode/
.env
.secret
